<div class="container is-fluid">
  <div class="container">
    <nav class="navbar is-white">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">

        <img src="./assets/logo.png" alt="Logo Devsstore" class="logo">

      </a>
        <div class="navbar-burger burger" (click)="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navMenuColorwhite-example" class="navbar-menu" #menu>
        <div class="navbar-end">
          <a class="navbar-item" href="https://bulma.io/">
          Home
        </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/documentation/overview/start/">
          Servicios
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
              Desarrollo Web
            </a>
              <hr class="navbar-divider">
              <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
              Desarrollo Android
            </a>
              <hr class="navbar-divider">
              <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
              Marketing
            </a>
            </div>
          </div>
          <a class="navbar-item" href="https://bulma.io/">
        Nosotros
        </a>
          <a class="navbar-item" href="https://bulma.io/">
          Contactanos
        </a>
        </div>
      </div>
    </nav>
  </div>
</div>
